<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> <!-- Ele busca diretamente na pasta definida no express.static() | Sempre com '/' no inicio do caminho  -->
    <title>Document</title>
</head>