<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" width="50%" alt="Logo LM">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Início</a>
        </li>
    </ul>
</nav>